<!DOCTYPE html>
<html>
<body>

<div class="nav">
  <div><a href="{{ url_for('login') }}">Login</a></div>
  <div><a href="{{ url_for('logout') }}">Logout</a></div>
</div>
<div class="content">
<h1>Gisted</h1>
{% if (auth.authenticated) %}
Authenticated
<form action="/" method="POST">
   <input type="hidden" name="canary" value="{{ auth.canary }}" />
   <input type="text" name="u" value="" placeholder="URL"/>
   <input type="submit" name="submit" value="Gist!" />
</form>
{% else %}
Wild
{% endif %}
</body>
</html>
